@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Stylist Details</h2>

<p>Stylist Name: @Html.DisplayFor(model => model.StylistName)</p>
<p>Speciality: @Html.DisplayFor(model => model.Speciality)</p>

<div>
  <p>List of @Html.DisplayFor(model => model.StylistName)'s clients:</p>
  <ul>
    @foreach (var client in ViewBag.Show)
    {
      <li>@Html.ActionLink($"{client.ClientName}", "Details","Clients", new { id = client.ClientId })</li>
    }
  </ul>
</div>
<p>@Html.ActionLink("Edit this stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete this stylist", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Back to all stylist", "Index")</p>
<p>@Html.ActionLink("Back Home", "Index", "Home")</p>