@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit</h2>

<h4>Edit this Stylist: @Html.DisplayFor(model => model.StylistName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)

  <p>Stylist Name: @Html.EditorFor(model => model.StylistName)</p>
  <p>Speciality: @Html.EditorFor(model => model.Speciality)</p>  
  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list of stylists", "Index")</p>